services:
  - mongodb

language: ruby

cache: bundler

before_install:
  - gem update --system
  - gem install bundler

matrix:
  include:
    - rvm: 2.3.1
      env: MONGOID_VERSION=3
    - rvm: 2.3.1
      env: MONGOID_VERSION=4
    - rvm: 2.3.1
      env: MONGOID_VERSION=5
    - rvm: 2.3.1
      env: MONGOID_VERSION=6
    - rvm: 2.3.1
      env: MONGOID_VERSION=HEAD
    - rvm: 2.3.1
      script:
        - bundle exec danger

bundler_args: --without development

addons:
  apt:
    sources:
      - mongodb-3.2-precise
    packages:
      - mongodb-org-server
