name: CI
on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        entry:
          - { ruby: '2.6', mongodb: '4.4', mongoid: '3' }
          - { ruby: '2.6', mongodb: '4.4', mongoid: '4' }
          - { ruby: '2.6', mongodb: '4.4', mongoid: '5' }
          - { ruby: '2.7', mongodb: '4.4', mongoid: '6' }
          - { ruby: '2.7', mongodb: '4.4', mongoid: '7' }
          - { ruby: '3.0', mongodb: '4.4', mongoid: '6' }
          - { ruby: '3.0', mongodb: '4.4', mongoid: '7' }
    name: test (ruby=${{ matrix.entry.ruby }}, mongodb=${{ matrix.entry.mongodb }}), mongoid=${{ matrix.entry.mongoid }})
    env:
      MONGOID_VERSION: ${{ matrix.entry.mongoid }}
    steps:
      - name: Set up MongoDB ${{ matrix.entry.mongodb }}
        uses: supercharge/mongodb-github-action@1.8.0
        with:
          mongodb-version: ${{ matrix.entry.mongodb }}
      - uses: actions/checkout@v3
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.entry.ruby }}
          bundler-cache: true
      - name: Run tests
        run: bundle exec rspec
